body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #fade0a;
    background-color: #9f3838;
    padding: 50px;
    border-radius: 500px;
    text-align: center;
    width: 100%;
    margin: 0;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
    border: 40px solid #d09c32;
}

p {
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.order-form {
    background-color: #fee6a6b9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 12px solid #d09c32;  
}

.order-form label {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    display: block;
    margin: 10px 0 5px 0;
    text-align: left;
}

.order-form input[type="number"] {
    width: 100%;
    padding: 10px;
    color: #e8d381;
    margin-bottom: 15px;
    background-color: #9f3838;
    border: px solid transparent; 
    border-radius: 50px;
    font-size: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease; 
    
}


.order-form input[type="number"]:focus {
    border-color: rgb(0, 0, 0); 
    outline: none; 
    border: 7px solid #000000;
   
}



.order-form input[type="number"]::-webkit-outer-spin-button,
.order-form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.order-form button {
    padding: 10px 50px;
    background-color: #406f17;
    ;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.order-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 5px solid #726e6e;  
}

.order-summary h2 {
    color: #333;
    margin-bottom: 15px;
}

.order-summary p {
    font-size: 16px;
    margin: 5px 0;
    color: #333;
}

.order-summary strong {
    color: #000;
}


body > * {
    max-width: 100%;
    padding: 20px;
}


@media (max-width: 500px) {
    .order-form, .order-summary {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .order-form button {
        width: 100%;
    }
}
